.footer {
    background-color: #f7f7f7;

    .footer-top {
        padding: 50px 0;

        .footer-col {
            ul {
                list-style: none;
                padding: none;

                li {
                    padding: 3px 0;

                    a {
                        text-decoration: none;
                        color: $color-dark-1;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-bottom {
        background-color: $color-white-1;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        .footer-copyright, 
        .footer-social {
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                margin: 0;
                li {
                    padding: 0 10px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: $color-dark-1;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-social {
            display: flex;
            justify-content: flex-end;
        }
    }
}